<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Facturacion</title>
    <link rel="stylesheet" href="/css/Style.css">
    <link rel="stylesheet" href="/css/Create.css">
    <script src="/js/menu.js"> </script>
    <script src="controller.js"> </script>
</head>
<body class="body-create">
<header class="header" id="menu"></header>
<div class="wrapper-create">
    <table class="content-table">
        <thead>
        <tr>
            <th>Numero de Factura</th>
            <th>Cantidad de Productos</th>
            <th>Monto Total</th>
            <th>Fecha</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="factura : ${facturas}">
            <td th:text="${factura.numero}"></td>
            <td th:text="${factura.cantidad}"></td>
            <td th:text="${factura.monto}"></td>
            <td th:text="${factura.fecha}"></td>
            <td>
                <form action="/presentation/detalle/pdf" method="post" target="_blank">
                    <input type="hidden" name="numero" th:value="${factura.numero}">
                    <button type="submit" value="Detalle" class="btnAction">Detalle</button>
                </form>
            </td>
            <td>
                <form action="/presentation/detalle/xml" method="post" target="_blank">
                    <input type="hidden" name="numero" th:value="${factura.numero}">
                    <button type="submit" class="btnAction">XML</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>