<header th:fragment="header" class="header">
    <img src="/images/logo.png" class="logo">
    <div class="navbar">
            <th:block th:if="${session.usuario!=null}">
                <th:block th:if="${session.usuario.getRol().equals('PROVEE')}">
                    <div class="dropdown">
                        <a href="/presentation/facturar/show">Facturar</a>
                    </div>
                    <div class="dropdown">
                        <a href="/presentation/clientes/show">Clientes</a>
                    </div>
                    <div class="dropdown">
                        <a href="/presentation/productos/show">Productos</a>
                    </div>
                    <div class="dropdown">
                        <a href="/presentation/facturas/show">Facturas</a>
                    </div>
                </th:block>
                <th:block th:if="${session.usuario.getRol().equals('ADMIN')}">
                    <div class="dropdown">
                        <a href="/presentation/proveedores/show2">Proveedores</a>
                    </div>
                    <div class="dropdown">
                        <a href="/presentation/proveedores/show">Solicitudes</a>
                    </div>
                </th:block>
                <div class="dropdown">
                    <p th:text="${session.usuario.getIdentificacion()}"></p>
                    <div class="dropdown-content">
                        <th:block th:if="${session.usuario.getRol().equals('PROVEE')}">
                            <a href="/presentation/proveedores/showPersonalizar">Personalizar perfil</a>
                        </th:block>
                        <th:block th:if="${session.usuario.getRol().equals('ADMIN')}">
                            <a href="/presentation/administradores/show">Personalizar perfil</a>
                        </th:block>
                        <a href="/presentation/login/logout">Cerrar Sesion</a>
                    </div>
                </div>
            </th:block>
            <th:block th:unless="${session.usuario!=null}">
                <li><a href="/presentation/login/loginpage">Login</a></li>
            </th:block>>
        </ul>
    </div>
</header>