.body-admin{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    background: url('/images/Background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    padding-left: 35px;
}

.wrapper-admin{
    background: transparent;
    border: 2px solid rgba(255, 255, 255,.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 0;
    width: 500px;
}

.wrapper-admin h2{
    text-align: center;
    padding-top: 10px;
}

.table-container {
    max-height: 200px;
    overflow-y: auto;
    margin: 30px 10px;
}

/* Estilo del scrollbar */
.table-container::-webkit-scrollbar {
    width: 12px; /* Ancho del scrollbar */
}

.table-container::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color de fondo del track */
}

.table-container::-webkit-scrollbar-thumb {
    background: #888; /* Color del thumb */
}

.table-container::-webkit-scrollbar-thumb:hover {
    background: #555; /* Cambio de color al pasar el cursor por encima */
}

.content-table {
    width: 100%;
    border-collapse: collapse;
}

.content-table thead {
    background-color: transparent;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;  /* Asegura que el encabezado se mantenga arriba al hacer scroll */
}

.content-table th, .content-table td {
    padding: 5px 10px;
    text-align: center; /* Centra horizontalmente el contenido */
    vertical-align: middle; /* Centra verticalmente el contenido */
}

.content-table tbody tr {
    border-bottom: 1px solid gray;
}