.body-facturar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    background: url('/images/Background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    padding: 65px 0 0 35px;
}

.table-container {
    max-height: 200px;
    overflow-y: auto;
    margin: 20px 0;
}

/* Estilo del scrollbar */
.table-container::-webkit-scrollbar {
    width: 12px; /* Ancho del scrollbar */
}

.table-container::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color de fondo del track */
}

.table-container::-webkit-scrollbar-thumb {
    background: #888; /* Color del thumb */
}

.table-container::-webkit-scrollbar-thumb:hover {
    background: #555; /* Cambio de color al pasar el cursor por encima */
}


.content-table {
    width: 100%;
    border-collapse: collapse;
}

.content-table thead {
    background-color: transparent;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;  /* Asegura que el encabezado se mantenga arriba al hacer scroll */
}

.content-table th, .content-table td {
    padding: 5px 10px;
    text-align: center; /* Centra horizontalmente el contenido */
    vertical-align: middle; /* Centra verticalmente el contenido */
}

.content-table tbody tr {
    border-bottom: 1px solid gray;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 700px;
    max-height: 550px;
    padding: 5px 10px;
    margin-top: 30px;
    border-radius: 16px;
    transition: opacity 200ms ease-in-out;
    z-index: -1;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
}

.popup.active {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 200ms,
    opacity 200ms ease-in-out 0ms,
    transform 200ms ease-in-out 0ms;
    z-index: 9999;
}

.popup .form h2 {
    text-align: center;
    color: #fff;
    margin: auto;
    font-size: 25px;
}

.popup .form .form-element {
    margin: auto;
    padding-block-end: 5px;
}

.popup .form .form-element label {
    font-size: 14px;
    color: #222;
}

.icon-link {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    background-color: transparent;
    cursor: pointer;
    vertical-align: middle;
    padding: 0;
}

#linkListaClientes {
    background-image: url('/images/list.png');
}

#linkListaProductos {
    background-image: url('/images/list.png');
}
#linkBuscarClientes,
#linkBuscarProducto{
    background-image: url('/images/searchBtn.png');
}

.popup .form .form-element input[type="text"]{
    margin-top: 5px;
    width: 250px;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}


.popup .form .form-element label[data-text] {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    margin-right: 20px;
}

.popup .form .form-element .saveBtn {
    position: relative;
    display: block;
    margin: 0 auto 10px auto;
    width: 50%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 15px;
    background: #aaa;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

